{% extends 'base.html' %}
{% load static %} 
{% block title %}
   Expense Categories
{% endblock title %}
{% block content %}
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.count }}</td>
                         </tr>
                    {% endfor %}
                </table>
        </main>
{% endblock content%}
